
.biography h1 {
	padding-left: 250px;
}

/* Indent same amount has h1 page heading */
.biography p {
	margin-left: 250px;
}

/* Give border and padding to profile picture */
.profile img {
	border: 1px solid grey;
	padding: 10px;
}

/* Specify fixed width for profile picture figure */
figure.profile {
	float: left;
	width: 150px;
}

/* Specify font for disclaimer text */
aside p.disclaimer {
	font-size: 0.75em;
}