p.biography {
	padding: 5px 100px;
	margin-left: 150px;
}

p.disclaimer {
	font-size: 0.75em;
}

img.profile {
	border: 1px solid grey;
	padding: 10px;
}

figure.profile {
	float: left;
	width: 150px; /* Same as paragraph left margin */
}
