textarea {
	display: block;
	width: 50%;
	height: 50%;
}


ul.address-details {
	list-style: none;
	padding: 0;
	margin: 0;
}

.form-container input, textarea {
	display: block;
	/*outline: none;*/
	/*border-color: #7D8C99;
	border-style: solid;*/
	border: 1px solid #7D8C99;
	margin-bottom: 0.75em;
}

.form-container input:focus, textarea:focus {
	border: 2px solid #7D8C99;
}

.form-container input.submit {
	background-color: #FFA3B6;
}