textarea {
	display: block;
	width: 50%;
	height: 50%;
}


ul.address-details {
	list-style: none;
	padding: 0;
	margin: 0;
}

.form-container input, textarea{
	display: block;
	outline: none;
	border-color: #7D8C99;
	border-style: solid;
}
