/* Wrapper and subwrapper
 * (needed for sidebar to function correctly) ~~~~~~~~~~~~~ */


/*
#wrapper {
	width: 75%;
	margin: auto;
	
	background-image: -moz-linear-gradient(
		left, 
		#9999FF, 
		#9999FF 152px,
		#66FF33,
		#66FF33 152px);
}
*/

body {
	background-color: #9999FF;
}

#wrapper {
	background-color: #9999FF;
	width: 75%;
	margin: auto;
}

#subwrapper {
	margin-left: 152px; /* margin = nav_border_left(1) + nav_border_right(1) + nav_width(150) */
	background-color: #5FFF5F;
}

/* Default indentation for all main content elements (everything other than navbar, header and footer) */

#main-content {
	margin-left: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Navigation sidebar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
	float: left;
	width: 150px;
	border: 1px solid grey;
}

nav ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

nav ul li a {
	padding: 10px 5px;
	background-color: #66FF99;
	display: block;
	transition: ease 1s;
	text-decoration: none;
	color: #4E1A8C;
}

nav ul li a:clicked {
	color: #4E1A8C;
}

/*
nav ul li+li {
	border-top: 1px solid;
}
*/

nav ul li#current-page a { /* Make current page's button different */
	background-color: #00FFCC;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #00FFCC;
	transition: ease 1s;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Heading definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
	padding: 10px;
	font-family: Comic Sans MS, serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Paragraph definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* Image definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

img.logo {
	float: right
}

img.graphics {
	float: right;
	margin-right: 200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
	background-image: url("../images/header_gradient.png");
	background-repeat: repeat-x;
	height: 25px;
}

footer {
	margin-top: 25%;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #99FF33;
	font-size: 0.75em;
}
