/* Import web fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* Wrapper, body and main-content wrapper
 * (needed for sidebar and page background to function correctly) ~~~~~~~~~~~~~ */
#wrapper {
	width: 80%;
	max-width: 1200px; /* Prevent text from "spilling out" too wide */
	margin: auto;
	
	background-color: #D1E9FF; /* Fallback background colour if gradient is unsupported */
	background-image: -moz-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 150px,
		#D1E9FF,
		#D1E9FF 150px);
	background-image: -webkit-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 150px,
		#D1E9FF,
		#D1E9FF 150px);
	background-image: -o-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 150px,
		#D1E9FF,
		#D1E9FF 150px);
	background-image: -ms-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 150px,
		#D1E9FF,
		#D1E9FF 150px);
	background-image: linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 150px,
		#D1E9FF,
		#D1E9FF 150px);
}

body {
	background-color: #99F;
	font-family: Raleway, sans-serif;
	font-size: 1.2em;
}

/* Default indentation for all main content elements (everything other than navbar, header and footer) */
#main-content {
	margin-left: 200px; /* Navbar is 150px - indent 50px from navbar */
	margin-right: 150px; /* Indent 50px to right of page */
	background-color: #D1E9FF; /* Fallback background colour if gradient fails */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Navigation sidebar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
	float: left;
	width: 150px;
	/* border: 1px solid grey; */

}

nav ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

nav ul li a {
	padding: 10px 5px;
	background-color: #F3F2EA;
	display: block;
	transition: background-color ease 1s;
	text-decoration: none;
	color: #4E1A8C;
	font-size: 1.2em;
}

nav ul li a:clicked {
	color: #4E1A8C;
}

/*
nav ul li+li {
	border-top: 1px solid;
}
*/

nav ul li#current-page a { /* Make current page's button different */
	background-color: #FFA3B6;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #FFA3B6;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Heading definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1.company-title {
	font-size: 2.5em;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
}

h1, h2, h3 {
	font-family: Raleway, sans-serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.clear-both {
	clear: both;
}

/* Paragraph definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* Image definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

img.logo {
	float: right
}

img.graphics {
	float: right;
	padding: 10px;
	/*margin-right: 0.5em;*/
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Pull quote styling ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.pquote ul {
	padding: 0;
}

.pquote blockquote{ /* Draw background image of quote marks */
    background: url("../images/homepage/openquote.png") top left no-repeat;
    font-size: 1.75em;
    line-height: 0.9;
    font-style: italic;
    padding: 0;
    margin: 0;
    min-height: 7em;
    width: 200px;
}

.pquote li {
	list-style: none;
	float: left;
	margin: 0 40px;
}

.pquote blockquote p:first-letter {
    font-size: 2em;
    font-weight: bold;
}

/* Font size of "by" */
.pquote .by {
	font-size: 0.75em;	
}

/* Container of quotes */
.pquote {
	width: 560px;
	margin: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Header and footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
	background-image: url("../images/header_gradient.png");
	background-repeat: repeat-x;
	height: 50px;
	padding-left: 200px;
	font-family: "Oswald", sans-serif;

}

footer {
	clear: both;
	padding: 10px 0 5px 10px; /* top: 10px, right: 0, bottom: 5px, left: 10px */
	background-color: #A3E1FF;
	font-size: 0.75em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
