/* Import web fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);


/* Wrapper, body and main-content wrapper
 * (needed for sidebar and page background to function correctly) ~~~~~~~~~~~~~ */
#wrapper {
	width: 80%;
	max-width: 1200px; /* Prevent text from "spilling out" too wide */
	margin: auto;
	
	background-color: #D1E9FF; /* Fallback background colour if gradient is unsupported */
	background-image: -moz-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 160px,
		#D1E9FF,
		#D1E9FF 160px);
	background-image: -webkit-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 160px,
		#D1E9FF,
		#D1E9FF 160px);
	background-image: -o-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 160px,
		#D1E9FF,
		#D1E9FF 160px);
	background-image: -ms-linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 160px,
		#D1E9FF,
		#D1E9FF 160px);
	background-image: linear-gradient(
		left, 
		#F3F2EA, 
		#F3F2EA 160px,
		#D1E9FF,
		#D1E9FF 160px);
}

body {
	background-color: #99F;
	font-family: Raleway, Times, sans-serif;
	font-size: 1.2em;
}

/* Default indentation for all main content elements (everything other than navbar, header and footer) */
#main-content {
	margin-left: 210px; /* Navbar is 160px - indent 50px from navbar */
	margin-right: 60px; /* Indent 60px to right of page */
	background-color: #D1E9FF; /* Fallback background colour if gradient fails */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Navigation sidebar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav {
	float: left;
	width: 160px;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li a {
	padding: 10px 10px;
	background-color: #F3F2EA;
	display: block;
	transition: background-color ease 1s;
	text-decoration: none;
	color: #4E1A8C;
	font-size: 1.2em;
}

/* Keep same colour when navbar items clicked */
nav ul li a:clicked {
	color: #4E1A8C;
}

/*
nav ul li+li {
	border-top: 1px solid;
}
*/

nav ul li#current-page a { /* Make current page's button different */
	background-color: #FFA3B6;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #FFA3B6;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* Heading definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1.company-title {
	font-size: 2.5em;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.clear-both {
	clear: both;
}

/* Paragraph definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* Image definitions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



.branding {
	text-align: center;
/*	margin: 1em 0;
*/	padding: 0.75em 0;
	margin-top: -140px; /* Force logo up onto header */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Header and footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
	background-image: url("../images/header_gradient.png");
	background-repeat: repeat-x;
	padding-left: 200px;
	font-family: "Oswald", "Comic Sans MS", sans-serif;
	font-size: 4em;
	min-height: 140px;
}

header .small {
	font-size: 0.35em;
}

footer {
	clear: both;
	padding: 10px 0 5px 10px; /* top: 10px, right: 0, bottom: 5px, left: 10px */
	background-color: #A3E1FF;
	font-size: 0.75em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
